$dark-blue: rgb(8,1,126);
$dark-blue-alpha: rgba(8,1,126,1);
$med-blue-alpha: rgba(15,15,214,1);
$light-blue-alpha: rgba(0,181,218,1);
$white: #fff;
$yellow: #ffeb3b;

$body-fonts: sans-serif;
$header-fonts: Helvetica, Arial, sans-serif;

$gutter: 12px;
