@import "./stylesheets/variables";
@import "./stylesheets/mixins";
@import "./stylesheets/typography";
@import "./stylesheets/forms";
@import "./stylesheets/weatherreport";

html {
  height: 100%;
}

body {
  background: $dark-blue;
  background: linear-gradient(180deg, $dark-blue-alpha 0%, $med-blue-alpha 68%, $light-blue-alpha 100%);
  color: $white;
}

#root {
  max-width: 960px;
  margin: 0 auto;
}
